* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

a {
	text-decoration: none;
}

.container {
	width: 1024px;
	margin: 0 auto;
}

header {
	width: 100%;
	height: 70px;
	background-color: #EC715F;
}

.logo {
	height: 70px;
	float: left;
}

.nav {
	float: right;
}

.nav-list {
	font-size: 16px;
	padding: 0 30px;
	line-height: 70px;
	float: right;
	list-style: none;
}

.nav-list a {
	color: #FAFAFA;
}

.mainvisual {
	width: 100%;
	height: 650px;
	text-align: center;
	color: #FAFAFA;
	background-image: url(img/mv.png);
	background-size: cover;
	background-position: center;
}

.mv-title {
	font-size: 64px;
	padding-top: 200px;
}

.mv-text {
	font-size: 20px;
	padding-top: 10px;
}

.portfolio {
	background-color: #ECEFF1;
	text-align: center;
}

.pf-title {
	font-size: 32px;
	color: #000000;
	padding-top: 90px;
}

.pf-title::after {
	content: "";
	height: 3px;
	width: 70px;
	display: block;
	background-color: #EC715F;
	margin: 8px auto 0;
}

.pf-text {
	font-size: 16px;
	color: #000000;
	padding-top: 30px;
}

.images {
	width: 920px;
	padding: 30px 0 90px 0;
	margin: 0 auto;
}

.image {
	width: 300px;
	height: 250px;
	margin: 10px 10px 0 0;
	background-size: cover;
	background-position: center;
	float: left
}

.image:nth-child(3n) {
	margin: 10px 0 0 0;
}

.image:nth-child(-n+3) {
	margin-top: 0;
}

.bg1 {
	background-image: url(img/sketch.jpg);
}

.bg2 {
	background-image: url(img/websuku.png);
}

.bg3 {
	background-image: url(img/write.jpg);
}

.bg4 {
	background-image: url(img/webcamp.png);
}

.bg5 {
	background-image: url(img/talk.jpg);
}

.bg6 {
	background-image: url(img/webcamp-mother.png);
}

.feauture {
	text-align: center;
}

.ft-title {
	font-size: 32px;
	color: #000000;
	padding-top: 90px;
}

.ft-title::after {
	display: block;
	content: "";
	height: 3px;
	width: 70px;
	background-color: #EC715F;
	margin: 8px auto 0;
}

.ft-text {
	font-size: 16px;
	color: #000000;
	padding-top: 30px;
}

.strengths {
	width: 980px;
	padding: 30px 0 90px;
	margin: 0 auto;
}

.strength {
	width: 320px;
	height: auto;
	padding-right: 10px;
	float: left;
}

.strength:nth-child(3) {
	padding-right: 0;
}

.fa {
	font-size: 60px;
}

.st-title {
	font-size: 20px;
	color: #000000;
	padding: 10px 0 10px;
}

.st-text {
	font-size: 16px;
	color: #000000;
	text-align: start;
}

.profile {
	background-color: #ECEFF1;
	text-align: center;
}

.introduction {
	width: 1024px;
	padding: 30px  0 90px;
	text-align: left;
}

.left {
	float: left;
	width: 50%;
}

.id-image {
	background-image: url(img/my-icon.jpg);
	width: 250px;
	height: 250px;
	margin: 0 auto;
	border-radius: 50%;
}

.right {
	float: right;
	width: 50%;
}

.id-title {
	font-size: 20px;
	margin: 20px 0 5px;
}

.id-title:nth-child(1) {
	margin-top: 0;
}

.id-text {
	font-size: 16px;
	color: #000000;
}

.contact {
	text-align: center;
}

.contacts {
	padding: 30px 0 90px;
	width: 600px;
	margin: 0 auto;
	text-align: left;
}

.ad-title {
	font-size: 20px;
	margin: 20px 0 5px;
}

.ad-title:first-child {
	margin-top: 0;
}

.ad-text {
	color: black;
}

.sns-title {
	font-size: 20px;
	padding-bottom: 5px;
}

.fa-5x {
	font-size: 50px;
	padding-right: 20px;
}

footer {
	width: 100%;
	height: 60px;
	text-align: center;
	background-color: #EC715F;
}

.copyright {
	font-size: 16px;
	color: #FAFAFA;
	line-height: 60px;
}

@media screen and (max-width:768px){
	.container {
		width: 90%;
	}

	header {
		height: 50px;
	}

	.logo {
		float: none;
		height: 50px;
	}

	.menu-box {
		float: right;
		width: 40px;
		height: 40px;
		margin-right: 5%;
		border: 1px solid #FAFAFA;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.list-bar {
		display: block;
		width: 25px;
		height: 2px;
		margin: 5px auto;
		background-color: #FAFAFA;
	}

	.list-bar:first-child {
		margin-top: 10px;
	}

	.nav {
		float: none;
	}

	.nav-list {
		display: none;
		float: none;
		width: 100%;
		line-height: 50px;
		border-bottom: 1px solid grey;
		text-align: center;
		background-color: rgba(0,0,0,.9);
	}

	.mainvisual {
		background-image: url(img/code.png);
	}

	.mv-title {
		font-size: 40px;
		color: #FAFAFA;
	}

	.mv-text {
		font-size: 18px;
	}

	.images {
		width: 300px;
	}

	.image {
		float: none;
	}

	.none {
		display: none;
	}

	.strengths {
		width: 320px;
	}

	.strength {
		float: none;
	}

	.st-text {
		padding-bottom: 10px;
	}

	.ft-text {
		width: 400px;
		margin: 0 auto;
	}

	.introduction {
		width: 100%;
		text-align: center;
	}

	.pf-text {
		width: 400px;
		margin: 0 auto;
	}

	.left {
		float: none;
		width: 100%;
	}

	.right {
		float: none;
		width: 100%;
	}

	.id-title {
		padding: 20px 0 5px;
	}

	.id-text {
		width: 400px;
		margin: 0 auto;
	}

	.contacts {
		text-align: center;
	}

	.sns-title {
		padding: 20px 0 5px;
	}

	.fa-5x {
		padding-right: 0;
	}
}